@model Fragments.Areas.Fragments.Models.FrameModel
@using Microsoft.Extensions.Options
@using Fragments
@inject IOptions<FragmentOptions> options
<!DOCTYPE html>
<html>
<head>
    <title>Fragment - @Model.Name</title>
    <!--@options.Value.StyleBaseline start-->
    <esi:include src="@options.Value.StyleBaseline" onerror="continue"></esi:include>
    <!--@options.Value.StyleBaseline end-->

    @foreach (var css in Model.Css)
    {
        <!--@css start-->
        <esi:include src="@css" onerror="continue"></esi:include>
        <!--@css end-->

    }
</head>
<body>
    @foreach (var html in Model.Html)
    {
        <esi:include src="@html" onerror="continue"></esi:include>
    }

    <!--@options.Value.ScriptBaseline start-->

    <esi:choose>
        <esi:when test="'@string.IsNullOrWhiteSpace(options.Value.ScriptBaseline)'!='True'">
            <esi:include src="@options.Value.ScriptBaseline" onerror="continue"></esi:include>
        </esi:when>
    </esi:choose>

    <!--@options.Value.ScriptBaseline end-->
    @foreach (var js in Model.Js)
    {
    <!--@js start-->
    <esi:include src="@js" onerror="continue"></esi:include>
    <!--@js end-->
    }
</body>
</html>