@model Fragments.Areas.Fragments.Models.FrameModel
@using Microsoft.Extensions.Options
@using Fragments
@inject IOptions<FragmentOptions> options
<!DOCTYPE html>
<html>
<head>
    <title>Fragment - @Model.Name</title>
    <!--@options.Value.StyleBaseline start-->
    <esi:include src="@options.Value.StyleBaseline" onerror="continue"></esi:include>
    <!--@options.Value.StyleBaseline end-->
    
    <!--@Model.Css start-->
    <esi:include src="@Model.Css" onerror="continue"></esi:include>
    <!--@Model Css end-->

</head>
<body>
        <esi:include src="@Model.Html" onerror="continue"></esi:include>

    <!--@options.Value.ScriptBaseline start-->

        <esi:choose>
            <esi:when test="'@string.IsNullOrWhiteSpace(options.Value.ScriptBaseline)'!='True'">
                <esi:include src="@options.Value.ScriptBaseline" onerror="continue"></esi:include>
            </esi:when>
        </esi:choose>



    <!--@options.Value.ScriptBaseline end-->
    <!--@Model.Js start-->
        
    <esi:include src="@Model.Js" onerror="continue"></esi:include>

    <!--@Model.Js end-->
    </body>
</html>