@model Fragments.Areas.Fragments.Models.FragmentResourceModel[]
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All the fragments!</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/tables-min.css">
</head>

<style>
    .fragments {
        margin-bottom: 10px;
    }

    .fragments-iframe {
        display: block;
        width: 90%;
        height: 65vh;
        padding-top: 10px;
    }

    body {
        margin: 0;
        font-family: SourceSansLocal,source-sans-pro,Source Sans Pro,-apple-system,Roboto,pt sans,calibri,sans-serif;
        color: darkslategray;
    }

    .hide {
        display: none;
    }

    .active {
        background-color: #fdfdfd !important;
        text-decoration: underline;
    }


    .sideBarMain {
        background-color: #fdfdfd;
        min-height: 100vh;
        grid-area: sidebar;
    }

    .fragment-list {
        list-style: none;
        padding-left: 0;
    }

    .fragment-list-item {
        padding: 10px;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        color: #646565;
        text-align: center;
        margin: 5px 10px;
        background-color: #f1f2f2;
    }

    .header {
        grid-area: header;
        background-image: linear-gradient(to left,#b3dd98,#01ae55);
    }

    .header-title-wrapper {
        display: flex;
        justify-content: center
    }

        .header-title-wrapper h1 {
            font-size: 1.802em;
            font-weight: 600;
            line-height: 1.2;
            overflow: hidden;
            display: inline-block;
            max-width: 100%;
            color: white;
            font-size: 24px;
            line-height: 40px;
            font-weight: 300;
            text-overflow: ellipsis;
        }

    .mainContent {
        grid-area: maincontent;
        background-color: #f0f0f0;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    .grid-container {
        display: grid;
        grid-template-rows: 80px 1fr 1fr;
        grid-template-columns: 20% 1fr 1fr;
        grid-template-areas: 'header header header' 'sidebar maincontent maincontent' 'sidebar maincontent maincontent';
    }

    .sideBarMain h2 {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-sizing: border-box;
        max-width: 90%;
        margin: 0;
        overflow: hidden;
        font-weight: 400;
        font-size: 1.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;
        padding: 0 0 0 2.6rem;
        line-height: 65px;
        color: #a2a3a3;
    }

    @@media only screen and (max-width: 600px) {
        .grid-container {
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            grid-template-areas: 'header' 'sidebar' 'maincontent';
        }

        .sideBarMain {
            min-height: auto;
        }
    }
</style>
<body>
    <div class="grid-container">
        <div class="header">
            <div class="header-title-wrapper">
                <h1>Fragments catalog</h1>
            </div>
        </div>
        <div class="sideBarMain">
            <div class="sideBarListWrapper">

                <h2>Fragments</h2>

                <ul class="fragment-list">
                    @foreach (var fragment in Model.Where(x => !string.IsNullOrEmpty(x.Html)))
                    {
                        <li id="@fragment.Id" class="fragment-list-item expandable">@fragment.FragmentGroupName</li>
                    }
                </ul>
            </div>
        </div>

        <div class="mainContent">
            @foreach (var fragment in Model.Where(x => !string.IsNullOrEmpty(x.Html)))
            {

                <blockquote id="@($"{fragment.Id}details")" class="fragments hide">
                    
                    <h2>@fragment.Id</h2>
                    
                    <table class="pure-table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">File Name</th>
                                <th scope="col">Size</th>
                                <th scope="col">Follows Convention</th>
                                <th scope="col">Cache</th>
                                <th scope="col">Has Css Links</th>
                                <th scope="col">Has Css Styles</th>
                                <th scope="col">Has Scripts</th>

                            </tr>
                        </thead>
                        <tr>
                            <th scope="row">1</th>
                            <td>@fragment.HtmlResource.Resource</td>
                            <td>@fragment.HtmlResource.Size</td>
                            <td>@fragment.HtmlResource.FollowsConvetion</td>
                            <td>@fragment.HtmlResource.Cache</td>
                            <td>@fragment.HtmlResource.HasCssLinks</td>
                            <td>@fragment.HtmlResource.HasStyles</td>
                            <td>@fragment.HtmlResource.HasScripts</td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>@fragment.CssResource.Resource</td>
                            <td>@fragment.CssResource.Size</td>
                            <td>@fragment.CssResource.FollowsConvetion</td>
                            <td>@fragment.CssResource.Cache</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>@fragment.JsResource.Resource</td>
                            <td>@fragment.JsResource.Size</td>
                            <td>@fragment.JsResource.FollowsConvetion</td>
                            <td>@fragment.JsResource.Cache</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <iframe id="@($"{fragment.Id}frame")"
                            class="fragments-iframe"
                            frameborder="0"
                            scrolling="yes"
                            data-src="@($"{Url.Action("Frame")}?name={fragment.FragmentGroupName}&css=/{fragment.Css}&html=/{fragment.Html}&js=/{fragment.Js}")"></iframe>
                </blockquote>
            }
        </div>

        <script type="text/javascript">

            document.addEventListener("DOMContentLoaded", function () {
                var nodes = document.querySelectorAll('.expandable');

                Array.from(nodes).forEach(x => x.addEventListener('click', onClick));

                function onClick(e) {
                    e.preventDefault();
                    this.classList.toggle('active')
                    var container = document.querySelector('#' + e.currentTarget.id + 'details');
                    var frame = document.querySelector('#' + e.currentTarget.id + 'frame');
                    if (frame.getAttribute('src') !== null) {
                        container.classList.toggle('hide');
                        return;
                    }

                    frame.setAttribute('src', frame.dataset.src);

                    frame.onload = function () {
                        container.classList.toggle('hide');
                    }
                }
            });

        </script>
    </div>
</body>
</html>