@model IReadOnlyCollection<Fragments.Areas.Fragments.Models.FragmentModel>
<!DOCTYPE html>
<html>
<head>
    <title>All the fragments!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<style>
    .expandable {
    }

    .fragments {
        margin-bottom: 10px;
    }


    .fragments-iframe {
        display: block;
        width: 100%;
        height: 800px;
        overflow: hidden;
    }

    .hide {
        display: none;
    }

   html, body {
    min-height: 100vh;
    margin: 0;
    }

    .sideBarMain{
        min-height: 100vh;
        padding: 0 5px 0 5px;
    }

    .list-group-item{
        cursor: pointer;
    }

    .mainContent{
        padding: 10px;
    }
    
</style>
<body>
    <header>
        <nav class="navbar navbar-dark bg-success">
            <span class="navbar-brand mb-0 h1">CDON Fragment showcase</span>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row h-100">
                <div class="col-2 bg-info text-dark sideBarMain">
                    <div class="sideBarListWrapper mt-2">
                        <h3 class="text-center">Fragments are selected here:</h3>
                        <ul class="list-group">
                        @foreach (var fragment in Model.Where(x => !string.IsNullOrEmpty(x.Html)))
                        {
                            <li id="@fragment.Id" class="expandable list-group-item list-group-item-secondary list-group-item-action p-2 border-0 text-center mt-1">@fragment.FragmentGroupName</li>
                        }
                        </ul>
                    </div>
                    
                </div>
                <div class="col-10 h-100 mainContent">
                     @foreach (var fragment in Model.Where(x => !string.IsNullOrEmpty(x.Html)))
                     {
                         
                     <blockquote id="@($"{fragment.Id}details")" class="fragments hide">
                         <table>
                            <thead> 
                                <tr>   
                                <td>FileName</td>    
                                <td>Size</td>      
                                <td>Status</td>
                            </tr>
                            </thead>
                            <tr> 
                                <td>@fragment.Html</td>
                                <td>?</td>
                                <td>?</td>
                            </tr>
                            <tr> 
                                <td>@fragment.Css</td>
                                <td>?</td>
                                <td>?</td>
                            </tr>
                            <tr>
                                <td>@fragment.Js</td>
                                <td>?</td>  
                                <td>?</td>
                            </tr>
                        </table>
                        <div>
                            <iframe id="@($"{fragment.Id}frame")"
                            class="fragments-iframe"
                            scrolling="no"
                            frameborder="0"
                            data-src="@($"{Url.Action("Frame")}?name={fragment.FragmentGroupName}&css=/{fragment.Css}&html=/{fragment.Html}&js=/{fragment.Js}")"></iframe>
                         </div>
                     </blockquote>
                    }
                </div>
            </div>

        </div>
    </main>
    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function () {
            var nodes = document.querySelectorAll('.expandable');

            Array.from(nodes).forEach(x => x.addEventListener('click', onClick));

            function onClick(e) {
                e.preventDefault();
                this.classList.toggle('active')
                var container = document.querySelector('#' + e.currentTarget.id + 'details');
                var frame = document.querySelector('#' + e.currentTarget.id + 'frame');
                if (frame.getAttribute('src') !== null) {
                    container.classList.toggle('hide');
                    return;
                }

                frame.setAttribute('src', frame.dataset.src);

                frame.onload = function () {
                    container.classList.toggle('hide');
                }
            }
        });

    </script>
</body>
</html>